/* ! base style */
body{font-family: 'Inter', sans-serif;}

a{text-decoration: none;}




/* ! header */
.header {
  border: 1px solid black;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  padding: 30px;
  background: black;
}

.logo{
  border: 1px solid black;
}

.menu{
  border: 1px solid black;
    width: 100%;  
}

.menu li{display: inline-block}
.menu li a{color: white}


.cta{
  border: 1px solid black;
    width: 100%;  
}
.cta li{display: inline-block}
.cta li a{color: white}

.button{padding: 18px 28px ;
       background: #316bff;
       color:white;
       display: inline-block;
       border-radius}








